


/* Category Page Layout */
.threeCols {
	display: flex;
	justify-content: space-around;
}

.col h2 {
	text-align: center;
}

.col h2 span {
	color: #64fcf1;
}

.col {
	max-width: 33%;
	padding: 1rem;
}

.currentCatTitle {
	text-align: center;
}

.card {
	border: 1px solid #64fcf1;
	padding: 0.4rem;
	margin-bottom: 1rem;
}

.card h3 {
	text-align: center;
	color: #64fcf1;
	text-transform: uppercase;
}


