.wrapper {
	max-width: 1400px;
	margin: 0 auto;
	width: 95%;
}

.btn {
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px;
	background: green;
	color: red;
	border: 2px solid red;
	display: inline-block;
	margin-bottom: 1rem;
	width: 400px;
}

.btn:hover {
	cursor: pointer;
	color: green;
	background: red;
}

.btn:disabled,
.btn:disabled:hover {
	color: #000;
	opacity: 0.2;
	cursor: not-allowed;
	background: #e4f2e4;
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	z-index: 1;
	width: 100%;
	top: 0;
	border-bottom: solid 1px blue;
	opacity: 0.9;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
	color: green;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar a:hover {
	color: red;
}

/* Category Page Layout */
.threeCols {
	display: flex;
	justify-content: space-around;
}

.col {
	max-width: 33%;
	padding: 1rem;
}

.currentCatTitle {
	text-align: center;
}
